{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="{% block html-class %}content-size-3{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Educloud Alliance Connector Service" %}</title>
    {% block styles %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic|Roboto:900,900italic,700italic,700,400,400italic,300,300italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endblock %}
    {% block scripts %}
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/html5shiv.min.js"></script>
        <script src="{{ STATIC_URL }}js/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>
  <body>

    {% block nav %}
      <div class="darkbar">
        <div class="container">
          <div class="content-sizer">
            <div class="content-sizer-action content-sizer-decrease">A-</div>
            <div class="content-sizer-action content-sizer-increase">A+</div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/">{% trans "MPASS" %}</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              {% if perms.selector.can_invite %}
                <li class="{% block nav-search %}{% endblock %}"><a href="/search">{% trans "Search" %}</a></li>
                <li class="{% block nav-invite %}{% endblock %}"><a href="/invite">{% trans "Invite" %}</a></li>
              {% endif %}
              <li class="{% block nav-profile %}{% endblock %}"><a href="/profile">{% trans "Profile" %}</a></li>
            {% endif %}
            <li class="{% block nav-register %}{% endblock %}"><a href="/register">{% trans "Register" %}</a></li>
            <!--<li class="{% block nav-debug %}{% endblock %}"><a href="/debug">{% trans "Debug" %}</a></li>-->
            {% if not user.is_authenticated %}
              <li class="login-link"><a href="{% url 'login.admin' %}"><span class="glyphicon glyphicon-log-in"></span>{% trans "Log in" %}</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block scripts-footer %}
      <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
      <script src="{{ STATIC_URL }}js/main.js"></script>
    {% endblock %}

  </body>
</html>

