{% extends "base.html" %}
{% load i18n %}

{% block nav-invite %}active{% endblock %}

{% block content %}
  <div class="block">
    <div class="container">

      <h1>{% trans "Invite users" %}</h1>

      <p>{% trans "Your previous search result is remembered and you can select to which users you would like to send invitation tokens." %}</p>

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
      {% endif %}

      <form action="{% url 'invite' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {% for field in form %}
            {{ field }}
          {% endfor %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans "Invite" %}</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}

