{% extends "base.html" %}
{% load i18n %}

{% block nav-register %}active{% endblock %}

{% block content %}
  <div class="block">
    <div class="container">
      <div class="content-wrapper">
        <h1>{% trans "Register with token" %}</h1>

        <p>{% trans "You've received registration token. Enter it below." %}</p>

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          {% include "form_fields.html" with form=form placeholder=1 %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

