
/* BS Core */

/* Primary color: #e02271 */

html.content-size-1 {
  font-size: 0.375rem;
}
html.content-size-2 {
  font-size: 0.5rem;
}
html.content-size-3 {
  font-size: 0.625rem;
}
html.content-size-4 {
  font-size: 0.75rem;
}
html.content-size-5 {
  font-size: 0.875rem;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background: #fff;
  padding-top: 7.6rem;
  padding-bottom: 5.0rem;
  -webkit-font-smoothing: antialiased;
}
::-moz-selection {
  background: #e02271;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #e02271;
  color: #fff;
  text-shadow: none;
}

/* BS Links */

a {
  color: #0a58cc;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #0d92ff;
  text-decoration: none;
}

/* BS Buttons */

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1.4rem 1.6rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin: 0 0.6rem 0.6rem 0;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  white-space: normal;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background: #0d92ff;
  border: none;
}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background: #0a77d1;
  text-decoration: underline;
  border: none;
}

.btn-default {
  color: #0d92ff;
  background: transparent;
  border: 0.3rem solid #0d92ff;
  text-transform: uppercase;
  padding: 1.1rem 1.6rem;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background: #0d92ff;
  border: 0.3rem solid #0d92ff;
  text-decoration: none;
}

/* BS Forms */

.form-control {
  display: block;
  width: 100%;
  height: auto;
  min-height: 3.8rem;
  padding: 0.3rem 1.0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 0.2rem solid #989c9f;
  border-radius: 0.4rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-control:focus {
  border-color: #3da7ff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #616568;
  font-style: italic;
}
.form-control:-moz-placeholder {
  color: #616568;
  font-style: italic;
}
.form-control::-moz-placeholder {
  color: #616568;
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  color: #616568;
  font-style: italic;
}
.control-label {
  font-weight: 400;
}
@media (min-width: 48rem) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

/* BS Typography */

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4 {
  font-family: "Roboto", "Helvetica Neue", Arial, helvetica, sans-serif;
  word-break: break-word;
}
.h1, h1 {
  font-weight: 900;
  font-size: 4.0rem;
  line-height: 1.1em;
  margin-top: 1.8rem;
  margin-bottom: 4.0rem;
}
@media (max-width: 47.9375rem) {
  .h1, h1 {
    font-size: 3.0rem;
    line-height: 1.1em;
    margin-top: 1.4rem;
    margin-bottom: 3.0rem;
  }
}
.h2, h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2em;
  margin-top: 3.2rem;
  margin-bottom: 1.4rem;
}
@media (max-width: 47.9375rem) {
  .h2, h2 {
    font-size: 2.4rem;
    line-height: 1.2em;
    margin-top: 2.4rem;
    margin-bottom: 1.1rem;
  }
}
.h3, h3 {
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 1.2em;
  margin-top: 2.0rem;
  margin-bottom: 0.9rem;
}
.h4, h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2em;
  margin-top: 1.8rem;
  margin-bottom: 0.9rem;
}
p {
  margin-top: 0.7rem;
  margin-bottom: 1.4rem;
}
ol, ul {
  padding-left: 2.0rem;
}

/* BS modal */

.modal-content {
  border-radius: 0;
  border: 0.5rem solid #E02271;
}
.modal-header {
  position: relative;
  background: #e02271;
  color: #fff;
  border: 0;
  margin-top: -5px;
}
.modal-footer .btn {
  float: right;
  margin: 0;
  margin-left: 1rem;
}
.modal-header .close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin: 0;
  margin-top: -20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  color: #fff;
  font-size: 40px;
  filter: alpha(opacity=70);
  opacity: .7;
  cursor: pointer;
}
.modal-header .close:hover,
.modal-header .close:focus {
  color: #fff;
  filter: alpha(opacity=100);
  opacity: 1;
}
.modal-header .close span {
  display: inline-block;
  vertical-align: top;
}

/* BS Navbar */

.navbar-inverse {
  top: 2.6rem;
  background-color: #f2f2f2;
  border: 0;
  border-top: 0.6rem solid #2c2c2c;
  box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.15);
  min-height: 4.4rem;
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  height: 4.4rem;
  padding: 1.2rem 1.5rem;
}
@media (max-width: 47.9375rem) {
  .navbar-inverse .navbar-brand {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 7.5rem;
  }
}
.navbar-inverse .navbar-brand:visited,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:focus {
  color: #333;
  text-decoration: none;
}
.navbar-inverse .navbar-brand:hover {
  color: #e02271;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background: #b31b5a;
  color: #fff;
  text-decoration: underline;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #e02271;
  color: #fff;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > .login-link > a {
  text-transform: none;
}
.navbar-inverse .navbar-nav > .login-link > a:focus,
.navbar-inverse .navbar-nav > .login-link > a:hover {
  background: #0d92ff;
  color: #fff;
}
.navbar-inverse .navbar-nav > .login-link > a > span {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
  margin-right: 0.7rem;
  font-size: 1.4rem;
  text-align: center;
  background: #0d92ff;
  color: #fff;
  border-radius: 50%;
}
@media (max-width: 47.9375rem) {
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: #2c2c2c;
  }
  .navbar-inverse .navbar-nav > li > a {
    background-color: #e02271;;
    color: #fff;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
  }
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover {
    background: #b31b5a;
    color: #fff;
    text-decoration: underline;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .active > a:hover {
    background: #b31b5a;
    color: #fff;
    text-decoration: none;
  }
  .navbar-inverse .navbar-nav > .login-link > a {
    background: #0d92ff;
    color: #fff;
  }
  .navbar-inverse .navbar-nav > .login-link > a:focus,
  .navbar-inverse .navbar-nav > .login-link > a:hover {
    background: #0B80E0;
    color: #fff;
  }
  .navbar-inverse .navbar-nav > .login-link > a > span {
    background: transparent;
  }
}
.navbar-toggle {
  padding: 1.5rem 1.0rem;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
@media (max-width: 47.9375rem) {
  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    float: none;
  }
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e02271;
}
.navbar-toggle .icon-bar {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.navbar-toggle .icon-bar:nth-child(1) {
  -ms-transform: translateY(0.6rem) rotate(45deg);
  -webkit-transform: translateY(0.6rem) rotate(45deg);
  transform: translateY(0.6rem) rotate(45deg);
}
.navbar-toggle .icon-bar:nth-child(2) {
  background-color: transparent;
}
.navbar-toggle .icon-bar:nth-child(3) {
  -ms-transform: translateY(-0.6rem) rotate(-45deg);
  -webkit-transform: translateY(-0.6rem) rotate(-45deg);
  transform: translateY(-0.6rem) rotate(-45deg);
}
.navbar-toggle.collapsed .icon-bar:nth-child(1) {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  background-color: #e02271;
}
.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}

/* Darkbar */

.darkbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 2.6rem;
  padding-top: 0.4rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  background-color: #2c2c2c;
  color: #b3b7ba;
}
.content-sizer {
  float: right;
}
.content-sizer-action {
  display: block;
  font-weight: 700;
  width: 4rem;
  float: left;
  color: #b3b7ba;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content-sizer-action:first-child {
  border-right: 0.1rem solid #616568;
}
.content-sizer-action:hover {
  color: #0d92ff;
}
.content-sizer-action.disabled {
  color: #7d8184;
  cursor: not-allowed;
}

/* Content limiter */

.content-wrapper {
  max-width: 45em;
}

/* Invite list */

.invite-list {
  width: 100%;
}
.invite-list .invite-item-spacer td {
  padding: 0;
  margin: 0;
  height: 2.0rem;
}
.invite-list .invite-item td {
  position: relative;
  vertical-align: top;
  background: #fff;
  border: 0.1rem solid #dedede;
  padding: 1.0rem 1.5rem;
  cursor: pointer;
}
.invite-list .invite-item td:first-child {
  border-left: 0.5rem solid #e02271;
}
.invite-list .invite-item.active td:first-child {
  border-left-color: #0d92ff;
}
.invite-list .invite-item.header td {
  font-weight: 600;
  padding-left: 4.0rem;
}
.invite-list .invite-item.header input {
  display: none;
}
.invite-list .invite-item.header .toggle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4.0rem;
  cursor: pointer;
}
.invite-list .invite-item.header .toggle i {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  vertical-align: top;
  height: 3.0rem;
  width: 4.0rem;
  line-height: 3.0rem;
  margin: -1.5rem 0 0 -2.0rem;
  text-align: center;
}
.invite-list .invite-item.header .toggle .unchecked {
  color: #ccc;
}
.invite-list .invite-item.header .toggle .checked {
  color: #0d92ff;
}
.invite-list .invite-item.header .toggle .checked {
  display: none;
}
.invite-list .invite-item.header.active .toggle .checked {
  display: inline-block;
}
.invite-list .invite-item.header.active .toggle .unchecked {
  display: none;
}
.invite-list .invite-item.legend td {
  font-size: 1.6rem;
  font-weight: 600;
  color: #616568;
}
.invite-list .invite-item.main td {
  font-size: 1.6rem;
}

/* Attribute listing */

.delete-attribute {
  cursor: pointer;
  font-size: 24px;
}
.delete-attribute:hover,
.delete-attribute:focus {
  text-decoration: none;
  color: #e02271;
}

/* Block */

.block {
  position: relative;
  padding: 3.0rem 0;
}
.block.gray {
  background-color: #f9f9f9;
}

/* Block - Splash */

.block.splash {
  /*
  background-image: url(/static/img/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  */
  background-color: #E02271;
  color: #fff;
  padding: 10.0rem 0;
  text-align: center;
}
.block.splash h1 {
  font-size: 5.0rem;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 47.9375rem) {
  .block.splash h1 {
    font-size: 3.0rem;
  }
}
.splash-description {
  margin-top: 1.5rem;
  font-size: 2.0rem;
  word-break: break-word;
}
@media (max-width: 47.9375rem) {
  .splash-description {
    font-size: 1.8rem;
  }
}
.splash-actions {
  margin-top: 4.0rem;
}
@media (max-width: 47.9375rem) {
  .splash-actions {
    margin-top: 2.0rem;
  }
}
.splash-actions .btn:last-child {
  margin-right: 0;
}

/* Feature box */

.featbox {
  margin-bottom: 3.0rem;
}
.featbox-title {
  padding-bottom: 1.0rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.3rem solid #e02271;
  color: #e02271;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
}
@media (max-width: 47.9375rem) {
  .featbox-title {
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1.0rem;
    border: 0;
    border-left: 0.3rem solid #e02271;
  }
}
.featbox-content {}